spring-soap-https/spring-soap-https-soap-intergration/src/main/resources/wsdls/SupplierManager.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://oracle.e1.bssv.JP010030/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://oracle.e1.bssv.JP010030/" name="SupplierManagerService">
    <wsp:UsingPolicy wssutil:Required="true"/>
    <wsp1_2:Policy wssutil:Id="bssvpolicy">
        <ns1:TransportBinding xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <wsp1_2:Policy>
                <ns1:TransportToken>
                    <wsp1_2:Policy>
                        <ns1:HttpsToken/>
                    </wsp1_2:Policy>
                </ns1:TransportToken>
                <ns1:AlgorithmSuite>
                    <wsp1_2:Policy>
                        <ns1:Basic256/>
                    </wsp1_2:Policy>
                </ns1:AlgorithmSuite>
                <ns1:Layout>
                    <wsp1_2:Policy>
                        <ns1:Lax/>
                    </wsp1_2:Policy>
                </ns1:Layout>
            </wsp1_2:Policy>
        </ns1:TransportBinding>
        <ns2:SupportingTokens xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <wsp1_2:Policy>
                <ns2:UsernameToken
                        ns2:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                    <wsp1_2:Policy>
                        <ns2:WssUsernameToken10/>
                    </wsp1_2:Policy>
                </ns2:UsernameToken>
            </wsp1_2:Policy>
        </ns2:SupportingTokens>
    </wsp1_2:Policy>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://oracle.e1.bssv.JP010030/"
                        schemaLocation="./SupplierManager.xsd"/>
        </xsd:schema>
    </types>
    <message name="getSupplier">
        <part name="getSupplier" element="tns:getSupplier"/>
    </message>
    <message name="getSupplierResponse">
        <part name="getSupplierResponse" element="tns:getSupplierResponse"/>
    </message>
    <message name="BusinessServiceException">
        <part name="fault" element="tns:BusinessServiceException"/>
    </message>
    <message name="processSupplier">
        <part name="processSupplier" element="tns:processSupplier"/>
    </message>
    <message name="processSupplierResponse">
        <part name="processSupplierResponse" element="tns:processSupplierResponse"/>
    </message>
    <message name="getSupplierV2">
        <part name="getSupplierV2" element="tns:getSupplierV2"/>
    </message>
    <message name="getSupplierV2Response">
        <part name="getSupplierV2Response" element="tns:getSupplierV2Response"/>
    </message>
    <message name="getSupplierV3">
        <part name="getSupplierV3" element="tns:getSupplierV3"/>
    </message>
    <message name="getSupplierV3Response">
        <part name="getSupplierV3Response" element="tns:getSupplierV3Response"/>
    </message>
    <message name="processSupplierV3">
        <part name="processSupplierV3" element="tns:processSupplierV3"/>
    </message>
    <message name="processSupplierV3Response">
        <part name="processSupplierV3Response" element="tns:processSupplierV3Response"/>
    </message>
    <message name="processSupplierV2">
        <part name="processSupplierV2" element="tns:processSupplierV2"/>
    </message>
    <message name="processSupplierV2Response">
        <part name="processSupplierV2Response" element="tns:processSupplierV2Response"/>
    </message>
    <portType name="SupplierManager">
        <operation name="getSupplier">
            <input wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/getSupplierRequest"
                   message="tns:getSupplier"/>
            <output wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/getSupplierResponse"
                    message="tns:getSupplierResponse"/>
            <fault message="tns:BusinessServiceException" name="BusinessServiceException"
                   wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/getSupplier/Fault/BusinessServiceException"/>
        </operation>
        <operation name="processSupplier">
            <input wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/processSupplierRequest"
                   message="tns:processSupplier"/>
            <output wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/processSupplierResponse"
                    message="tns:processSupplierResponse"/>
            <fault message="tns:BusinessServiceException" name="BusinessServiceException"
                   wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/processSupplier/Fault/BusinessServiceException"/>
        </operation>
        <operation name="getSupplierV2">
            <input wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/getSupplierV2Request"
                   message="tns:getSupplierV2"/>
            <output wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/getSupplierV2Response"
                    message="tns:getSupplierV2Response"/>
            <fault message="tns:BusinessServiceException" name="BusinessServiceException"
                   wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/getSupplierV2/Fault/BusinessServiceException"/>
        </operation>
        <operation name="getSupplierV3">
            <input wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/getSupplierV3Request"
                   message="tns:getSupplierV3"/>
            <output wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/getSupplierV3Response"
                    message="tns:getSupplierV3Response"/>
            <fault message="tns:BusinessServiceException" name="BusinessServiceException"
                   wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/getSupplierV3/Fault/BusinessServiceException"/>
        </operation>
        <operation name="processSupplierV3">
            <input wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/processSupplierV3Request"
                   message="tns:processSupplierV3"/>
            <output wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/processSupplierV3Response"
                    message="tns:processSupplierV3Response"/>
            <fault message="tns:BusinessServiceException" name="BusinessServiceException"
                   wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/processSupplierV3/Fault/BusinessServiceException"/>
        </operation>
        <operation name="processSupplierV2">
            <input wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/processSupplierV2Request"
                   message="tns:processSupplierV2"/>
            <output wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/processSupplierV2Response"
                    message="tns:processSupplierV2Response"/>
            <fault message="tns:BusinessServiceException" name="BusinessServiceException"
                   wsam:Action="http://oracle.e1.bssv.JP010030/SupplierManager/processSupplierV2/Fault/BusinessServiceException"/>
        </operation>
    </portType>
    <binding name="SupplierManagerPortBinding" type="tns:SupplierManager">
        <wsp:PolicyReference URI="#bssvpolicy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getSupplier">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="processSupplier">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getSupplierV2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getSupplierV3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="processSupplierV3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="processSupplierV2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="SupplierManagerService">
        <port name="SupplierManagerPort" binding="tns:SupplierManagerPortBinding">
            <soap:address location="https://10.111.16.89:9211/DV920/SupplierManager"/>
        </port>
    </service>
</definitions>